compose/app/flows/main_demo_github_projects.yml
id: github_projects
namespace: demo
description: "Extract github projects"

tasks:
  - id: download_github_script
    type: io.kestra.plugin.fs.local.Download
    from: "/usr/app/scripts/extract_github_projects.py"
    
  - id: extract_github_projects
    type: io.kestra.plugin.scripts.python.Commands
    inputFiles:
      main.py: "{{ outputs.download_github_script.uri }}"
    outputFiles:
      - "*.json"
    taskRunner:
      type: io.kestra.plugin.scripts.runner.docker.Docker
    dependencies:
      - httpx
      - beautifulsoup4
      - lxml
      - pydantic
      - fsspec
    commands:
      - python main.py
