compose/app/flows/main_demo_connect_spark.yml
id: connect_spark
namespace: demo

tasks:
  - id: download_file
    type: io.kestra.plugin.fs.local.Download
    from: "/usr/app/scripts/demo.py"

  - id: process_api_data_with_spark
    type: io.kestra.plugin.spark.SparkCLI
    containerImage: spark:4.0.1-python3
    # master: spark://spark:7077
    inputFiles:
      main.py: "{{ outputs.download_file.uri }}"
    beforeCommands:
      - pip install fsspec pandas
    taskRunner: 
      type: io.kestra.plugin.scripts.runner.docker.Docker
      user: "root"
      networkMode: etl-net
    commands:
      - |
        spark-submit --name Pi \
          --conf spark.executor.cores=1 \
          --conf spark.executor.memory=512m \
          --conf spark.cores.max=1 \
          --master spark://spark:7077 main.py