compose/app/flows/main_etl.project.yml
id: project
namespace: etl
description: "An ETL pipeline that fetches data from public APIs, processes it with Spark, and stores the result in MinIO."
triggers:
  - id: daily_midnight_schedule
    type: io.kestra.plugin.core.trigger.Schedule
    cron: "0 0 0 * * *" # Runs every day at 00:00:00 UTC
    withSeconds: true
    timezone: "UTC"
tasks:
  - id: extract_github_projects
    type: io.kestra.plugin.scripts.python.Commands
    inputFiles: 
      main.py: |
        import json
        import re
        from datetime import datetime, timezone
        from typing import Optional

        import httpx
        from bs4 import BeautifulSoup
        from pydantic import BaseModel



        class GitHubProject(BaseModel):
            owner: str
            name: str
            full_name: str
            url: str
            description: Optional[str] = None
            language: Optional[str] = None
            topics: list[str] = []
            stars: Optional[int] = None
            updated_at: Optional[str] = None
            fetched_at: str


        # ---------------------------------------------------------------------------
        # Helpers
        # ---------------------------------------------------------------------------

        _REPO_HREF = re.compile(r"^/[\w.\-]+/[\w.\-]+$")
        _TOPIC_HREF = re.compile(r"^/topics/")
        _STARS_HREF = re.compile(r"/stargazers")


        def _parse_stars(text: str) -> Optional[int]:
            """Convert '1,234' or '1.2k' to an integer."""
            text = text.strip().replace(",", "").replace(" ", "").lower()
            if not text:
                return None
            if text.endswith("k"):
                try:
                    return int(float(text[:-1]) * 1_000)
                except ValueError:
                    return None
            try:
                return int(text)
            except ValueError:
                return None


        def _pick_description(article: BeautifulSoup) -> Optional[str]:
            """Return the first <p> that is not a login-wall message."""
            for p in article.find_all("p"):
                text = p.get_text(strip=True)
                if text and "sign in" not in text.lower():
                    return text
            return None


        # ---------------------------------------------------------------------------
        # Fetch + parse
        # ---------------------------------------------------------------------------


        def fetch_github_explore() -> list[GitHubProject]:
            headers = {
                "User-Agent": (
                    "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 "
                    "(KHTML, like Gecko) Chrome/124.0.0.0 Safari/537.36"
                ),
                "Accept": "text/html,application/xhtml+xml",
                "Accept-Language": "en-US,en;q=0.9",
            }

            with httpx.Client(timeout=30, follow_redirects=True) as client:
                response = client.get("https://github.com/explore", headers=headers)
                response.raise_for_status()

            soup = BeautifulSoup(response.text, "lxml")
            fetched_at = datetime.now(timezone.utc).isoformat()
            projects: list[GitHubProject] = []
            seen: set[str] = set()

            # Primary strategy: <article> elements that wrap each repo card
            articles = soup.find_all("article")

            for article in articles:
                heading = article.find(["h2", "h3"])
                if not heading:
                    continue

                repo_links = heading.find_all("a", href=_REPO_HREF)
                if not repo_links:
                    continue

                href: str = repo_links[-1]["href"]
                if href in seen:
                    continue
                seen.add(href)

                parts = href.strip("/").split("/")
                if len(parts) != 2:
                    continue
                owner, name = parts

                # Topics
                topics = [
                    a.get_text(strip=True) for a in article.find_all("a", href=_TOPIC_HREF)
                ]

                # Language via itemprop first, then class heuristic
                lang_el = article.find("span", itemprop="programmingLanguage")
                if not lang_el:
                    for span in article.find_all("span"):
                        cls = " ".join(span.get("class") or [])
                        if "language" in cls.lower():
                            lang_el = span
                            break
                language = lang_el.get_text(strip=True) if lang_el else None

                # Stars (only visible when logged in; gracefully absent)
                stars: Optional[int] = None
                for a in article.find_all("a", href=_STARS_HREF):
                    stars = _parse_stars(a.get_text(strip=True))
                    break

                # Updated-at timestamp
                time_el = article.find("relative-time") or article.find("time")
                updated_at: Optional[str] = None
                if time_el:
                    updated_at = time_el.get("datetime") or time_el.get_text(strip=True)

                projects.append(
                    GitHubProject(
                        owner=owner,
                        name=name,
                        full_name=f"{owner}/{name}",
                        url=f"https://github.com{href}",
                        description=_pick_description(article),
                        language=language,
                        topics=topics,
                        stars=stars,
                        updated_at=updated_at,
                        fetched_at=fetched_at,
                    )
                )

            # Fallback: scan all headings for owner/repo links when no <article> found
            if not projects:
                for heading in soup.find_all(["h2", "h3"]):
                    repo_links = heading.find_all("a", href=_REPO_HREF)
                    if not repo_links:
                        continue
                    href = repo_links[-1]["href"]
                    if href in seen:
                        continue
                    seen.add(href)
                    parts = href.strip("/").split("/")
                    if len(parts) != 2:
                        continue
                    owner, name = parts
                    projects.append(
                        GitHubProject(
                            owner=owner,
                            name=name,
                            full_name=f"{owner}/{name}",
                            url=f"https://github.com{href}",
                            fetched_at=fetched_at,
                        )
                    )

            return projects


        # ---------------------------------------------------------------------------
        # Main – Kestra script output
        # ---------------------------------------------------------------------------


        def main() -> None:
            projects = fetch_github_explore()
            output = [p.model_dump() for p in projects]

            # Kestra Python script output: emits variables consumed by downstream tasks
            # Referenced in flows as: outputs.extract_github_projects.vars.projects
            with open("projects.json", "w") as f:
                json.dump(output, f)
                
            print(
                f"::{json.dumps({'outputs': {'projects': output, 'count': len(output)}})}::",
                flush=True,
            )

            # Human-readable log summary (visible in Kestra task logs)
            print(f"\nFetched {len(output)} projects from github.com/explore", flush=True)
            for p in projects:
                stars_str = f" ⭐ {p.stars:,}" if p.stars is not None else ""
                lang_str = f"[{p.language}]" if p.language else ""
                desc_str = f" — {p.description}" if p.description else ""
                print(f"  • {p.full_name}{stars_str} {lang_str}{desc_str}", flush=True)


        if __name__ == "__main__":
            main()
    outputFiles:
        - "*.json"
    taskRunner: 
      type: io.kestra.plugin.scripts.runner.docker.Docker
    
    dependencies:
      - httpx
      - beautifulsoup4
      - lxml
      - pydantic
    commands:
        - python main.py

  - id: extract_from_db
    type: io.kestra.plugin.scripts.python.Commands
    taskRunner:
      type: io.kestra.plugin.scripts.runner.docker.Docker
      networkMode: etl-net
    dependencies:
      - pandas
      - sqlalchemy
      - psycopg2-binary
    inputFiles:
      main.py: |
        import pandas as pd
        from sqlalchemy import create_engine

        engine = create_engine('postgresql://postgres:postgres@extract-db:5432/postgres')
        
        # SQL to DataFrame
        df = pd.read_sql_query('SELECT * FROM power_consumption', engine)
        
        # Output to JSON with ISO date format
        df.to_json('consumption.json', orient='records', indent=4, date_format='iso')
        print('Extraction complete.')

    commands:
      - python main.py
    outputFiles:
      - consumption.json

  - id: download_zip
    type: io.kestra.plugin.core.http.Download
    uri: https://maven-datasets.s3.amazonaws.com/Bank+Customer+Churn/Bank+Customer+Churn.zip

  - id: unzip_file
    type: io.kestra.plugin.compress.ArchiveDecompress
    from: "{{ outputs.download_zip.uri }}"
    algorithm: ZIP
    

  - id: parse_csv_to_json
    type: io.kestra.plugin.scripts.python.Script
    containerImage: python:3.11-slim
    beforeCommands:
      - pip install pandas
    script: |
      import pandas as pd
      import json
      import os

      # The extracted file path from the previous task
      # Kestra stores extracted files in the 'unzip_file' output
      csv_path = "{{ outputs.unzip_file.files['Bank_Churn_Data_Dictionary.csv'] }}"
      
      # Read CSV and convert to JSON
      df = pd.read_csv(csv_path)
      json_data = df.to_json(orient='records', indent=4)
      
      # Write to the output file Kestra expects
      with open('bank_customer.json', 'w') as f:
          f.write(json_data)
    outputFiles:
      - bank_customer.json


  # - id: process_api_data_with_spark
  #   type: io.kestra.plugin.spark.PythonSubmit
  #   master: spark://spark:7077
  #   deployMode: "CLIENT"
  #   mainScript: ""
  #   taskRunner: 
  #     type: io.kestra.plugin.scripts.runner.docker.Docker
  #     image: "apache/spark:3.5.1-java17-r"
  #     user: root
  #     networkMode: "host"
  #     volumes:
  #       - "/usr/app:/usr/app:rw"

  - id: create_minio_bucket
    type: io.kestra.plugin.minio.CreateBucket
    endpoint: http://minio:9000 
    region: "us-east-1"
    secretKeyId: "minio_password"
    accessKeyId: "minio"
    bucket: "etl"

  # - id: upload_processed_data_to_minio
  #   type: io.kestra.plugin.minio.Upload






