compose/app/flows/main_etl_project.yml
id: project
namespace: etl
description: "An ETL pipeline that fetches data from public APIs, processes it with Spark, and stores the result in MinIO."
triggers:
  - id: daily_midnight_schedule
    type: io.kestra.plugin.core.trigger.Schedule
    cron: "0 0 0 * * *" # Runs every day at 00:00:00 UTC
    withSeconds: true
    timezone: "UTC"

variables:
  minio_access_key: minio
  minio_secret_key: minio_password
  minio_endpoint: http://minio:9000
  minio_region: "us-east-1"

tasks:
  - id: acquire_data
    type: io.kestra.plugin.core.flow.Parallel
    retry:
      type: constant
      maxAttempt: 3
      interval: PT10S
    tasks:
      - id: extract_bank_data
        type: io.kestra.plugin.core.flow.Sequential
        retry:
          type: constant
          interval: PT10S
          maxAttempt: 3 
        tasks:
          - id: bank_download_zip
            type: io.kestra.plugin.core.http.Download
            uri: https://maven-datasets.s3.amazonaws.com/Bank+Customer+Churn/Bank+Customer+Churn.zip
            retry:
              type: constant
              interval: PT10S
              maxAttempt: 3

          - id: bank_unzip_file
            type: io.kestra.plugin.compress.ArchiveDecompress
            from: "{{ outputs.bank_download_zip.uri }}"
            algorithm: ZIP
            

          - id: parse_csv_to_json
            type: io.kestra.plugin.scripts.python.Commands
            containerImage: python:3.11-slim
            dependencies:
              - pandas
              - fsspec
            inputFiles:
              bank_data.csv: "{{ outputs.bank_unzip_file.files['Bank_Churn.csv'] }}"
              main.py: |
                import pandas as pd
                import json
                import os

                csv_path = "bank_data.csv"
                
                df = pd.read_csv(csv_path)
                json_data = df.to_json(orient='records', indent=4)
                
                with open('bank_data.json', 'w') as f:
                    f.write(json_data)
            commands:
              - python main.py
            outputFiles:
              - bank_data.json

          - id: upload_bank_to_minio
            type: io.kestra.plugin.minio.Upload
            endpoint: "{{vars.minio_endpoint}}"
            accessKeyId: "{{vars.minio_access_key}}"
            secretKeyId: "{{vars.minio_secret_key}}"
            bucket: "bronze"
            from: "{{ outputs.parse_csv_to_json.outputFiles['bank_data.json'] }}"
            key: "file/{{now() | date('yyyy-MM-dd')}}/data.json"

      - id: database_extraction
        type: io.kestra.plugin.core.flow.Sequential
        retry:
          type: constant
          interval: PT10S
          maxAttempt: 3 
        tasks:
          - id: extract_from_db
            type: io.kestra.plugin.scripts.python.Commands
            taskRunner:
              type: io.kestra.plugin.scripts.runner.docker.Docker
              networkMode: etl-net
            dependencies:
              - pandas
              - sqlalchemy
              - psycopg2-binary
              - fsspec
            inputFiles:
              main.py: |
                import pandas as pd
                from sqlalchemy import create_engine

                engine = create_engine("postgresql://postgres:postgres@extract-db:5432/postgres")

                df = pd.read_sql_query("SELECT * FROM power_consumption", engine)

                df.to_json("consumption.json", orient="records", indent=4, date_format="iso")
                print("Extraction complete.")
            commands:
              - python main.py
            outputFiles:
              - consumption.json

          - id: upload_db_to_minio
            type: io.kestra.plugin.minio.Upload
            endpoint: "{{vars.minio_endpoint}}"
            accessKeyId: "{{vars.minio_access_key}}"
            secretKeyId: "{{vars.minio_secret_key}}"
            bucket: "bronze"
            from: "{{ outputs.extract_from_db.outputFiles['consumption.json']}}"
            key: "db/{{now() | date('yyyy-MM-dd')}}/data.json"

      - id: github_projects_extraction
        type: io.kestra.plugin.core.flow.Sequential
        retry:
          type: constant
          interval: PT10S
          maxAttempt: 3 
        tasks:
          - id: download_github_script
            type: io.kestra.plugin.fs.local.Download
            from: "/usr/app/scripts/extract_github_projects.py"
            
          - id: extract_github_projects
            type: io.kestra.plugin.scripts.python.Commands
            inputFiles:
              main.py: "{{ outputs.download_github_script.uri }}"
            outputFiles:
              - "*.json"
            taskRunner:
              type: io.kestra.plugin.scripts.runner.docker.Docker
            dependencies:
              - httpx
              - beautifulsoup4
              - lxml
              - pydantic
              - fsspec
            commands:
              - python main.py
          
          - id: upload_project_to_minio
            type: io.kestra.plugin.minio.Upload
            endpoint: "{{vars.minio_endpoint}}"
            accessKeyId: "{{vars.minio_access_key}}"
            secretKeyId: "{{vars.minio_secret_key}}"
            bucket: "bronze"
            from: "{{ outputs.extract_github_projects.outputFiles['projects.json']}}"
            key: "web/{{now() | date('yyyy-MM-dd')}}/data.json"
