compose/app/flows/main_etl_project.yml
id: project
namespace: etl
description: "An ETL pipeline that fetches data from public APIs, processes it with Spark, and stores the result in MinIO."
triggers:
  - id: daily_midnight_schedule
    type: io.kestra.plugin.core.trigger.Schedule
    cron: "0 0 0 * * *" # Runs every day at 00:00:00 UTC
    withSeconds: true
    timezone: "UTC"
tasks:
  - id: download_github_script
    type: io.kestra.plugin.fs.local.Download
    from: "/usr/app/scripts/extract_github_projects.py"
    
  - id: extract_github_projects
    type: io.kestra.plugin.scripts.python.Commands
    inputFiles:
      main.py: "{{ outputs.download_github_script.uri }}"
    outputFiles:
      - "*.json"
    taskRunner:
      type: io.kestra.plugin.scripts.runner.docker.Docker
    dependencies:
      - httpx
      - beautifulsoup4
      - lxml
      - pydantic
      - fsspec
    commands:
      - python main.py

  - id: extract_from_db
    type: io.kestra.plugin.scripts.python.Commands
    taskRunner:
      type: io.kestra.plugin.scripts.runner.docker.Docker
      networkMode: etl-net
    dependencies:
      - pandas
      - sqlalchemy
      - psycopg2-binary
      - fsspec
    inputFiles:
      main.py: |
        import pandas as pd
        from sqlalchemy import create_engine
        engine = create_engine('postgresql://postgres:postgres@extract-db:5432/postgres')
        df = pd.read_sql_query('SELECT * FROM power_consumption', engine)
        
        df.to_json('consumption.json', orient='records', indent=4, date_format='iso')
        print('Extraction complete.')

    commands:
      - python main.py
    outputFiles:
      - consumption.json

  - id: download_zip
    type: io.kestra.plugin.core.http.Download
    uri: https://maven-datasets.s3.amazonaws.com/Bank+Customer+Churn/Bank+Customer+Churn.zip

  - id: unzip_file
    type: io.kestra.plugin.compress.ArchiveDecompress
    from: "{{ outputs.download_zip.uri }}"
    algorithm: ZIP
    

  - id: parse_csv_to_json
    type: io.kestra.plugin.scripts.python.Commands
    containerImage: python:3.11-slim
    dependencies:
      - pandas
      - fsspec
    inputFiles:
      main.py: |
        import pandas as pd
        import json
        import os

        csv_path = "{{ outputs.unzip_file.files['Bank_Churn_Data_Dictionary.csv'] }}"
        
        df = pd.read_csv(csv_path)
        json_data = df.to_json(orient='records', indent=4)
        
        with open('bank_customer.json', 'w') as f:
            f.write(json_data)
    commands:
      - python main.py
    outputFiles:
      - bank_customer.json


  # - id: process_api_data_with_spark
  #   type: io.kestra.plugin.spark.PythonSubmit
  #   master: spark://spark:7077
  #   deployMode: "CLIENT"
  #   mainScript: ""
  #   taskRunner: 
  #     type: io.kestra.plugin.scripts.runner.docker.Docker
  #     image: "apache/spark:3.5.1-java17-r"
  #     user: root
  #     networkMode: "host"
  #     volumes:
  #       - "/usr/app:/usr/app:rw"

  - id: create_minio_bucket
    type: io.kestra.plugin.minio.CreateBucket
    endpoint: http://minio:9000 
    region: "us-east-1"
    secretKeyId: "minio_password"
    accessKeyId: "minio"
    bucket: "etl"

  # - id: upload_processed_data_to_minio
  #   type: io.kestra.plugin.minio.Upload






