compose/app/flows/main_dev.hi.yml
id: hi
namespace: dev
labels:
  name: Hello World

triggers:
  - id: daily
    type: io.kestra.plugin.core.trigger.Schedule
    cron: 0 9 * * *
    disabled: true

inputs:
  - id: user
    type: STRING
    defaults: Rick Astley

tasks:
  - id: download
    type: io.kestra.plugin.fs.local.Download
    from: "/usr/app/scripts/main.py"
  - id: show_content
    type: io.kestra.plugin.scripts.shell.Commands
    inputFiles: 
      download_main.py: "{{outputs.download.uri}}"
    commands: 
      - cat download_main.py


