compose/app/scripts/main_etl.project.yml
id: project
namespace: etl
description: "An ETL pipeline with parallel extraction and Spark processing."

triggers:
  - id: daily_midnight_schedule
    type: io.kestra.plugin.core.trigger.Schedule
    cron: "0 0 0 * * *"
    timezone: "UTC"

tasks:
  - id: extract_phase
    type: io.kestra.plugin.core.flow.Parallel
    tasks:
      - id: github_extraction
        type: io.kestra.plugin.core.flow.Sequential
        tasks:
          - id: download_github_script
            type: io.kestra.plugin.fs.local.Download
            from: "/usr/app/scripts/extract_github_projects.py"
          - id: extract_github_projects
            type: io.kestra.plugin.scripts.python.Commands
            inputFiles:
              main.py: "{{ outputs.download_github_script.uri }}"
            outputFiles: ["*.json"]
            taskRunner:
              type: io.kestra.plugin.scripts.runner.docker.Docker
            beforeCommands:
              - pip install httpx beautifulsoup4 lxml pydantic fsspec
            commands:
              - python main.py

      - id: extract_from_db
        type: io.kestra.plugin.scripts.python.Commands
        taskRunner:
          type: io.kestra.plugin.scripts.runner.docker.Docker
          networkMode: etl-net
        beforeCommands:
          - pip install pandas sqlalchemy psycopg2-binary fsspec
        inputFiles:
          main.py: |
            import pandas as pd
            from sqlalchemy import create_engine
            engine = create_engine('postgresql://postgres:postgres@extract-db:5432/postgres')
            df = pd.read_sql_query('SELECT * FROM power_consumption', engine)
            df.to_json('consumption.json', orient='records', indent=4)
        commands:
          - python main.py
        outputFiles: ["consumption.json"]

      - id: bank_data_processing
        type: io.kestra.plugin.core.flow.Sequential
        tasks:
          - id: download_zip
            type: io.kestra.plugin.core.http.Download
            uri: https://maven-datasets.s3.amazonaws.com/Bank+Customer+Churn/Bank+Customer+Churn.zip
          - id: unzip_file
            type: io.kestra.plugin.compress.ArchiveDecompress
            from: "{{ outputs.download_zip.uri }}"
            algorithm: ZIP
          - id: parse_csv_to_json
            type: io.kestra.plugin.scripts.python.Commands
            containerImage: python:3.11-slim
            beforeCommands:
              - pip install pandas fsspec
            inputFiles:
              main.py: |
                import pandas as pd
                df = pd.read_csv("{{ outputs.unzip_file.files['Bank_Churn_Data_Dictionary.csv'] }}")
                df.to_json('bank_customer.json', orient='records')
            commands:
              - python main.py
            outputFiles: ["bank_customer.json"]

  # --- STEP 2: SPARK PROCESSING ---
  - id: process_with_spark
    type: io.kestra.plugin.spark.SparkCLI
    retry:
      type: io.kestra.core.models.tasks.retries.Exponential
      maxAttempt: 3
      waitDuration: PT10S
    inputFiles:
      # Passing extracted data from parallel tasks into Spark
      github_data.json: "{{ outputs.extract_github_projects.outputFiles['*.json'] }}"
      db_data.json: "{{ outputs.extract_from_db.outputFiles['consumption.json'] }}"
      main.py: |
        from pyspark.sql import SparkSession
        spark = SparkSession.builder.appName("ETL_Process").getOrCreate()
        # Your Spark Logic Here
        spark.stop()
    taskRunner: 
      type: io.kestra.plugin.scripts.runner.docker.Docker
      containerImage: apache/spark:3.5.1
      user: "root"
    commands:
      - spark-submit --master local[*] main.py

  # --- STEP 3: STORE IN MINIO ---
  - id: create_minio_bucket
    type: io.kestra.plugin.minio.CreateBucket
    endpoint: http://minio:9000 
    region: "us-east-1"
    secretKeyId: "minio_password"
    accessKeyId: "minio"
    bucket: "etl"

  # Note: You can add an Upload task here to finish the flow